.bg-header {
  background-color: #82b62e;
}

.bg-carousel {
  margin-top: 56px;
  background-image: url(/assets/images/bg-carousel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.bg-profil {
  background-color: #f9ffef;
}