a {
  text-decoration: none;
}

.bg-header {
  background-color: #82b62e;
}

.bg-carousel {
  display: block;
  background-image: url(/assets/images/bg-carousel2.png);
  background-position: 0 -160px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 56px);
  transition: opacity 1s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bg-carousel-fade {
  opacity: .4;
}

.bg-profil {
  background-color: #f9ffef;
}

.featurette {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(223, 248, 219);
  background-image: url(/assets/images/bg-feat.png);
  background-position: 0 -100px;
  background-size: cover;
  background-repeat: no-repeat;
  color:rgb(45, 45, 45);
  min-height: 100vh;
}

.featurette .featurette-cnt {
  display: flex;
  flex-direction: row;
  padding:  100px 80px 100px 80px;
  gap: 0px;
}

.featurette .featurette-img {
  width: 50%;
  background-image: url(/assets/images/profil.jpg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}

.featurette .featurette-txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.produk {
  padding: 100px 80px 100px 80px;
  background-color: #ffffff;
  color: rgb(45,45,45);
  min-height: 100vh;
}

.produk .produk-cnt {
  display: flex;
  flex-direction: row;
  gap: 20px;
}